.droppable-area{
    border: 1px dashed #4e4e4e;
    border-radius: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    scroll-behavior: auto;
    scroll-behavior: smooth;
    overflow: auto;
}
.droppable-area--over{
    background-color: #e6e6e6;
}

.droppable-area::-webkit-scrollbar {
    -webkit-appearance: none;
}

.droppable-area::-webkit-scrollbar:vertical {
    width:10px;
}

.droppable-area::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.droppable-area::-webkit-scrollbar:horizontal {
    height: 10px;
}

.droppable-area::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.droppable-area::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.droppable-areas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:2;
  
  }
  .droppable-title{
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: 600;
    color: #3498db;
    width: 90%;
    text-align: left;
  }

  .droppable-container{
    width: 90%;
    flex:1;

  }