.draggable-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    cursor: move;
    user-select: none;
    z-index: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: #5e5ebd;
    font-weight: bold;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 5px;
    
}

.icon-container{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #5e5ebd;
    padding: 2px;
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .icon-container {
        width: 30px;
        height: 30px;
    }
}
