.sidebar-container{
    width: 500px;
    padding: 2em;
    transition: all 0.5s ease;
    overflow: hidden;
    border-left: 1px solid #e6e6e6;
}
.sidebar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item-container{
    width: 130px;
    height: 130px;
}
.sidebar-title{
    font-size: 1.1em;
    font-weight: 500;
    color: #5e5ebd;
    margin-bottom: .5em;
}

@media screen and (max-width: 1024px) {
    .sidebar{
        justify-content: center;
    }
    .sidebar-container {
      flex:none;
      width: 100%;
      border-left: none;
      padding: 1em;
    }
    .sidebar-title{
        display: none;
    }
    .item-container{
        width: 80px;
        height: 80px;
        padding: 5px;
    }
  }