.sidebar-container{
    width: 500px;
    padding: 2em;
    transition: all 0.5s ease;
    overflow: hidden;
    border-left: 1px solid #e6e6e6;
}
.sidebar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-container{
    width: 140px;
    height: 140px;
    padding: 10px;
}
.sidebar-title{
    font-size: 1.1em;
    font-weight: 500;
    color: #5e5ebd;
}

@media screen and (max-width: 1024px) {
    .sidebar-container {
      flex:none
    }
  }