.sidebar-container{
    flex:1;
    background: #b7b7b7;
    transition: all 0.5s ease;
    overflow: hidden;
}
.sidebar{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.item-container{
    width: 100px;
    height: 100px;
    padding: 10px;
}