.main-app{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #3d3d3d;
    text-align: center;
    margin: 0 auto;
  
  }
  .droppable-areas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  