.main-app{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;   
  }


  @media screen and (max-width: 1024px) {
    .main-app {
      flex-direction: column;
    }
  }